<div id="proof-of-concept">
    <h1>Proof of concept</h1>

    <p>This is a test page to test several components</p>

    <tabset>
        <tab heading="AngularJS">
            <!-- Test to show that AngularJs works -->
            <h1>Angular works:</h1>

            <div>I can add: 1 + 2 = {{ 1+2 }}.</div>
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <hr>
            <h3>Hello {{yourName}}!</h3>
        </tab>
        <tab heading="Nodejs fs">
            <!-- Test listing the files in a directory -->
            <h1>Reading files in a directory</h1>
            <ul>
                <li ng-repeat="filename in filenames">{{filename}}</li>
            </ul>

            <!-- Test reading the contents of a file -->
            <code>File Contents: {{fileContents}}</code>
            <br/>

            <div>File Contents: {{filenames}} - {{somevar}} - {{fileContents}}</div>
        </tab>
        <tab heading="Node LocalStorage">
            <h2>{{storedValue()}}</h2>
            <button type="button" class="btn btn-primary" ng-click="tryNodeLocalStorage()">Try Node LocalStorage
            </button>
        </tab>
        <tab heading="Json File Storage">
            <h2>{{storedJfsValue()}}</h2>
            <button type="button" class="btn btn-primary" ng-click="tryJsonFileStorage()">Try Json File Storage
            </button>
        </tab>
        <tab heading="q-io">
            <h1>Reading files in a directory</h1>
            <ul>
                <li ng-repeat="qfilename in qfilenames">{{qfilename}}</li>
            </ul>

            <!-- Test reading the contents of a file -->
            <code>File Contents: {{qfileContents}}</code>
            <br/>

            <div>File Contents: {{qfilenames}} - {{qsomevar}} - {{qfileContents}}</div>
        </tab>
        <tab heading="NeDB storage">
            <h2>{{nedbStoredValue}}</h2>
        </tab>
    </tabset>
</div>