<div id="rsync-overview" class="row">
    <div class="col-xs-12" ng-show="tree.error">
        {{tree.error}}
    </div>
    <div class="col-xs-12 row-bottom-buffer">
        <form class="form-inline" role="form">
            <div class="form-group col-xs-12">
                <div class="checkbox col-xs-2">
                    <label>
                        <input id="treeFilterOnlyDirectories" type="checkbox" ng-model="tree.filterOnlyDirectory"/>
                        Show only directories
                    </label>
                </div>
                <div class="checkbox col-xs-2">
                    <label>
                        <input id="treeFilterUnderBackup" type="checkbox" ng-model="tree.filterUnderBackup"/>
                        Show only under backup
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12">
        <div ng-repeat="treeNode in [tree.rootNode]">
            <ul>
                <ng-include src="'app/rsync/tree-node.html'"></ng-include>
            </ul>
        </div>
    </div>
</div>
