<ul ng-hide="childNode.collapsed">
    <li ng-repeat="childNode in childNode.children" ng-hide="!childNode.isDirectory && tree.onlyDirectories"
        ng-class="{'node-under-backup': childNode.underBackup, 'node-not-under-backup' : !childNode.underBackup}">
        <span ng-if="childNode.isDirectory">
            <a ng-click="tree.toggle(childNode)">
                <span ng-show="childNode.collapsed"><span class="glyphicon glyphicon-folder-close"> </span></span>
                <span ng-hide="childNode.collapsed"><span class="glyphicon glyphicon-folder-open"> </span></span>
                {{childNode.name}}
            </a>
        </span>
        <span ng-if="!childNode.isDirectory && !tree.onlyDirectories">
            <span class="glyphicon glyphicon-file"> </span>
            {{childNode.name}}</span>
        <ng-include src="'app/rsync/tree-child-node.html'"></ng-include>
    </li>
</ul>
