<div id="rsync-command-ui">
    <h1>rsync</h1>

    <form class="form-horizontal" role="form">
        <blockquote id="version-disclaimer">rsync version 2.6.9 protocol version 29</blockquote>

        <div class="col-sm-6">
            <div class="form-group">
                <label for="short-command" class="col-sm-3 control-label">Short command</label>

                <div class="col-sm-9 checkbox">
                    <input id="short-command" type="checkbox" ng-model="rsyncParams.shortCommand"/>
                </div>
            </div>

            <div class="form-group">
                <label for="delete" class="col-sm-3 control-label">Delete</label>

                <div class="col-sm-9 checkbox">
                    <input id="delete" type="checkbox" ng-model="rsyncParams.delete"/>
                </div>
            </div>

            <div class="form-group">
                <label for="delete-after" class="col-sm-3 control-label">delete-after</label>

                <div class="col-sm-9 checkbox">
                    <input id="delete-after" type="checkbox" ng-model="rsyncParams.deleteAfter"/>
                </div>
            </div>

            <div class="form-group">
                <label for="dry-run" class="col-sm-3 control-label">dry-run</label>

                <div class="col-sm-9 checkbox">
                    <input id="dry-run" type="checkbox" ng-model="rsyncParams.dryRun"/>
                </div>
            </div>

            <div class="form-group">
                <label for="archive" class="col-sm-3 control-label">archive</label>

                <div class="col-sm-9 checkbox">
                    <input id="archive" type="checkbox" ng-model="rsyncParams.archive"/>
                </div>
            </div>
            <div class="form-group">
                <label for="one-file-system" class="col-sm-3 control-label">one-file-system</label>

                <div class="col-sm-9 checkbox">
                    <input id="one-file-system" type="checkbox" ng-model="rsyncParams.oneFileSystem"/>
                </div>
            </div>
            <div class="form-group">
                <label for="verbose" class="col-sm-3 control-label">verbose</label>

                <div class="col-sm-9 checkbox">
                    <input id="verbose" type="checkbox" ng-model="rsyncParams.verbose"/>
                </div>
            </div>

            <div class="form-group">
                <label for="human-readable" class="col-sm-3 control-label">human-readable</label>

                <div class="col-sm-9 checkbox">
                    <input id="human-readable" type="checkbox" ng-model="rsyncParams.humanReadable"/>
                </div>
            </div>

            <div class="form-group">
                <label for="progress" class="col-sm-3 control-label">progress</label>

                <div class="col-sm-9 checkbox">
                    <input id="progress" type="checkbox" ng-model="rsyncParams.progress"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="log-file" class="col-sm-3 control-label">log-file</label>

                <div class="col-sm-9    ">
                <input id="log-file" class="form-control" type="text" ng-model="rsyncParams.logFile"/>
                </div>
            </div>
            <div class="form-group">
                <label for="filter-file" class="col-sm-3 control-label">filter-file</label>

                <div class="col-sm-9">
                    <input id="filter-file" class="form-control" type="text" ng-model="rsyncParams.filterFile"/>
                </div>
            </div>
            <div class="form-group">
                <label for="rsync-src" class="col-sm-3 control-label">Rsync Source</label>

                <div class="col-sm-9">
                    <input id="rsync-src" class="form-control" type="text" ng-model="rsyncParams.src"/>
                </div>
            </div>
            <div class="form-group">
                <label for="rsync-dest" class="col-sm-3 control-label">Rsync Destination</label>

                <div class="col-sm-9">
                    <input id="rsync-dest" class="form-control" type="text" ng-model="rsyncParams.dest"/>
                </div>
            </div>
            <div class="form-group">
                <label for="itemize-changes" class="col-sm-3 control-label">itemize-changes</label>

                <div class="col-sm-9 checkbox">
                    <input id="itemize-changes" type="checkbox" ng-model="rsyncParams.itemizeChanges"/>
                </div>
            </div>

            <div class="form-group">
                <label for="stats" class="col-sm-3 control-label">stats</label>

                <div class="col-sm-9 checkbox">
                    <input id="stats" type="checkbox" ng-model="rsyncParams.stats"/>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label for="rsync-command">Rsync command</label>
                <textarea id="rsync-command" class="form-control"
                          rows="5">{{rsyncParams.generateRsyncCommand()}}</textarea>
            </div>

            <button type="button" class="btn btn-primary" ng-click="spawnRsyncCommand()">Execute rsync command</button>

            <div class="form-group">
                <label for="rsync-output">Rsync output</label>
                <textarea id="rsync-output" class="form-control" rows="80">{{rsyncOutput}}</textarea>
            </div>
        </div>
    </form>

</div>